[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/pathogen"]
	path = vim/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/bundle/css_color.vim"]
	path = vim/bundle/css_color.vim
	url = git://github.com/vim-scripts/css_color.vim.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
