"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    fontSize: 12
  core:
    disabledPackages: [
      "autocomplete"
      "linter-shellcheck"
      "deprecation-cop"
      "git-diff-details"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "0e7988ed-a7d1-6779-ba29-50155a3d8a3e"
  welcome:
    showOnStartup: false
  linter:
    lintOnChange: false
    subtleLinterErrors: [
      "jshint"
    ]
  "vim-mode":
    startInInsertMode: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    confirmCompletion: "tab and enter"
  minimap:
    scrollAnimation: true
    plugins:
      "highlight-selected": true
      "color-highlight": true
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "spell-check": {}
  "linter-jshint": {}
  "atom-beautify":
    analytics: false
    css_newline_between_rules: true
    css_selector_separator_newline: true
    html_end_with_newline: true
    js_end_with_newline: true
    js_keep_array_indentation: true
  "file-icons":
    coloured: false
  "git-diff":
    showIconsInEditorGutter: true
  "linter-csslint": {}
  "remember-session":
    x: 415
    y: 22
    width: 1024
    height: 878
    treeWidth: 200
  "linter-pylint":
    executable: "/usr/local/bin/pylint"
  emmet: {}
  "git-plus":
    openInPane: false
  "merge-conflicts": {}
