"*":
  editor:
    invisibles: {}
    fontSize: 12
    showIndentGuide: true
    tabLength: 4
  core:
    themes: [
      "one-light-ui"
      "atom-light-syntax"
    ]
  "exception-reporting":
    userId: "0e7988ed-a7d1-6779-ba29-50155a3d8a3e"
  welcome:
    showOnStartup: false
  linter:
    lintOnChange: false
  "vim-mode":
    startInInsertMode: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
    confirmCompletion: "tab and enter"
  minimap:
    scrollAnimation: true
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  "spell-check": {}
  "save-session":
    dataSaveFolder: "/Users/irenyard/dotfiles/atom/packages/save-session/projects"
    project: "/Users/irenyard/workspace/html-reference-applications"
    windowX: 415
    windowY: 22
    windowWidth: 1024
    windowHeight: 878
  "linter-jshint": {}
  "atom-beautify":
    analytics: false
    css_newline_between_rules: true
    css_selector_separator_newline: true
    html_end_with_newline: true
    js_end_with_newline: true
    js_keep_array_indentation: true
  "file-icons":
    coloured: false
